body, html {
    position: relative;
    height: 100%;
    margin: 0;
  }
 
  
.map-container {
    position: relative;
    text-align: center;
    display: block;
    height:100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
/* 
.markers {
    position: relative;
} */

.marker {
    position: absolute;   
    /* width: 200px !important; */
}

.marker p { 
    visibility: visible; 
    margin: 0;
    text-align: center;
    font-family: Bradley hand;
    color: white;
    font-size: 25px;
    text-shadow: 3px 3px 1px black;
}

.marker p:hover { 
    text-shadow: 4px 4px 2px black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
     .marker p {
        visibility: hidden;
     } 
     
  }


#blackholedrop {
    position: absolute;
    top: 7%;
    right: 41%;
    width: 100%;
    height: auto; 
    /* border: 2px solid green; */
}

#sevenmilefloat {
    position: absolute;
    top: 85%;
    right: 30%;
    width: 100%;
    height: auto; 
    /* border: 2px solid green; */
}

#pool {
    position: absolute;
    top: 38%;
    left:20.5%;
    width: 100%;
    height: auto; 
}

#cheesehouse {
    position: absolute;
    top: 35%;
    left:40%;
    width: 100%;
    height: auto; 
}

#botanicalgarden {
    position: absolute;
    top: 46%;
    left:39%;
    width: 100%;
    height: auto; 
}

#reception {
    position: absolute;
    top: 22%;
    left:43%;
    width: 100%;
    height: auto; 
}

#waterfallcave {
    position: absolute;
    top: 5%;
    left:43%;
    width: 100%;
    height: auto; 
}

#bungalow {
    position: absolute;
    top: 15%;
    left:30%;
    width: 100%;
    height: auto; 
}

#cabana {
    position: absolute;
    top: 35%;
    left:30%;
    width: 100%;
    height: auto; 
 }

 #suite {
    position: absolute;
    top: 22%;
    left:25%;
    width: 100%;
    height: auto; 
 }

 #gazebo {
    position: absolute;
    top: 46%;
    left:26%;
    width: 100%;
    height: auto;
 }

 #rivercaveexpidition {
    position: absolute;
    top: 83%;
    left:42%;
    width: 100%;
    height: auto; 
 }

 #river {
    position: absolute;
    top: 63%;
    left:1%;
    width: 100%;
    height: auto; 
 }

 #restaurant {
    position: absolute;
    top: 40%;
    left:15%;
    width: 100%;
    height: auto; 
 }

 #canopyrooms {
    position: absolute;
    top: 19%;
    left:4%;
    width: 100%;
    height: auto; 
 }

 #riverview1 {
    position: absolute;
    top: 48%;
    right:15%;
    width: 100%;
    height: auto; 
 }

 

/* .location .icon {  
   background:url(/map-pin.png) no-repeat; 
   width:auto; 
   height:40px;
   display: inline-block; 
} */
 

.map-container img {
    height: 100%;
    width: 100%;
}
 
 
.button {
position: fixed;
top: 50%;
left: 50%;
background: #428bca;
padding: 1em 2em;
color: #fff;
border: 0;
border-radius: 5px;
cursor: pointer;
}

.button:hover {
background: #3876ac;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100vh;
width: 100%;
overflow: hidden;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content { 
    top: 100px;
margin: 1% auto; 
width: 75%;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
animation-name: modalopen;
animation-duration: 1s;
}

.slider img {
    display: block; 
    padding-bottom: 10px;
    object-fit: cover;
    width: 100%;
    height: 80vh;
}
 
.carousel-container {
    position: relative; 
    top: -15px;
    height: 100px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5); 
    margin: auto; 
}

.carousel-container .carousel-track {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll; 
}

.carousel-container button {
    position: absolute; 
    top: 40%;
    margin: auto;
    border: none;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.carousel-container button:hover {
    background-color: rgba(253, 253, 253, 0.5);
    color: black;
    transition: 0.5s;
}


.carousel-container .carousel-next {
    right: -22px;
}
.carousel-container .carousel-prev {
    left: -22px;
}

.img-container { 
    width: 200px;
    min-width: 150px;
    height: 90px;
    margin: 5px;
    padding: auto;
}
.img-container img { 
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-container .current {
    padding: auto;
    border: #3876ac 1px solid; 
    transform: scale(1.03);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-container img:hover {
    padding: auto;
    border: #3876ac 1px solid; 
    transform: scale(1.03);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 
   
.close { 
color: #ccc;
float: right;
font-size: 30px;
color: #fff;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

@keyframes modalopen {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

/* Tool Tip */
.tooltip {
    position: relative;
    display: inline-block; 
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }