body, html {
    position: relative;
    height: 100%;
    margin: 0;
  }
 
  /* adding a comment for testing */
.rotate-device {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.phone {
    height: 50px;
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    animation: rotate 1s ease-in-out infinite alternate;
    /* display: none; */
  }

.message {
    color: white;
    font-size: 1em;
    margin-top: 40px;
    /* display: none; */
  }

  @keyframes rotate {
    0% {
          transform: rotate(0deg)
      }
      50% {
          transform: rotate(-90deg)
      }
      100% {
          transform: rotate(-90deg)
      }
  } 
  
.map-container {
    position: relative;
    text-align: center;
    display: block;
    height:100%;
    width: 100%;
    margin: 0; 
    overflow: hidden;
}

.map-container img {
    height: 100%;
    width: 100%;
}

 
/* 
.markers {
    position: relative;
} */

.marker {
    position: absolute;   
    width: 10% !important;
    min-width: 100px;
    font-family: Bradley hand;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    transition: 0.5s; 
}

.marker:hover { 
    color: yellow;
    text-shadow: 4px 4px 2px black; 
    transition: 0.5s;
}


.marker p { 
    visibility: visible; 
    margin: 0; 
}


#blackholedrop {
    position: absolute;
    bottom: 10.3%;
    left:75%;
    width: 100%;
    height: auto; 
    /* border: 2px solid green; */
}

#sevenmilefloat {
    position: absolute;
    top: 85%;
    left:10%;
    width: 100%;
    height: auto; 
    /* border: 2px solid green; */
}

#pool {
    position: absolute;
    top: 38%;
    right:23%;
    width: 100%;
    height: auto; 
}

#cheesehouse {
    position: absolute;
    top: 35%;
    left:85%;
    width: 100%;
    height: auto; 
}

#botanicalgarden {
    position: absolute;
    top: 44%;
    left:81%;
    width: 100%;
    height: auto; 
}

#reception {
    position: absolute;
    top: 22%;
    left:87%;
    width: 100%;
    height: auto; 
}

#waterfallcave {
    position: absolute;
    bottom: 10.4%;
    right: 25%;
    width: 100%;
    height: auto; 
}

#bungalow {
    position: absolute;
    top: 15%;
    left:75%;
    width: 100%;
    height: auto; 
}

#cabanas {
    position: absolute;
    top: 38%;
    left:75%;
    width: 100%;
    height: auto; 
 }

 #suite {
    position: absolute;
    top: 47%;
    left:89%;
    width: 100%;
    height: auto; 
 }

 #gazebo {
    position: absolute;
    top: 47%;
    left:73%;
    width: 100%;
    height: auto;
 }

 #rivercaveexpidition {
    position: absolute;
    bottom: 10.3%;
    left:85%;
    width: 100%;
    height: auto; 
 }

 #river {
    position: absolute;
    top: 60%;
    left:42%;
    width: 100%;
    height: auto; 
 }

 #restaurant {
    position: absolute;
    top: 39%;
    left:60%;
    width: 100%;
    height: auto; 
 }

 #canopyrooms {
    position: absolute;
    top: 15%;
    left:49%;
    width: 100%;
    height: auto; 
 }

 #riverview1 {
    position: absolute;
    top: 40%;
    left:48%;
    width: 100%;
    height: auto; 
 }

 #riverview2 {
    position: absolute;
    top: 46%;
    left:21%;
    width: 100%;
    height: auto; 
 }
 
 
.button {
position: fixed;
top: 50%;
left: 50%;
background: #428bca;
padding: 1em 2em;
color: #fff;
border: 0;
border-radius: 5px;
cursor: pointer;
}

.button:hover {
background: #3876ac;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%; 
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content { 
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal .more {
    display: none;
    background-color: rgba(13, 157, 241, 0.8); 
    color: #fff;
    border: 1px solid;
    padding: auto;
    border-radius: 2px;
    position: absolute; 
}
.slider {  
    margin: 0 auto; 
    width: 85%; 
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.slider img {
    display: block; 
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

.slides button {
    display: none;
    position: absolute; 
    top: 50%; 
    margin: auto;
    border: none;
    font-size: 25px;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.slides .carousel-next {
    right: 2%;
}
.slides .carousel-prev {
    left: 2%;
}
 
.carousel-container {
    display: block;
    position: relative; 
    top: -8px;
    height: 100px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5); 
    margin: auto; 
}

.carousel-container .carousel-track {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll; 
}

.carousel-container button {
    position: absolute; 
    top: 40%;
    margin: auto;
    border: none;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.carousel-container button:hover {
    background-color: rgba(253, 253, 253, 0.5);
    color: black;
    transition: 0.5s;
}


.carousel-container .carousel-next2 {
    right: -22px; 
}
.carousel-container .carousel-prev2 {
    left: -22px;
}

.img-container { 
    width: 200px;
    min-width: 150px;
    height: 90px;
    margin: 5px;
    padding: auto;
}
.img-container img { 
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-container .current {
    padding: auto;
    border: #3876ac 1px solid; 
    transform: scale(1.03);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img-container img:hover {
    padding: auto;
    border: #3876ac 1px solid; 
    transform: scale(1.03);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 
   
.close { 
color: #ccc;
float: right;
font-size: 30px;
color: #fff;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

@keyframes modalopen {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}

 /* For mobile phones: */

@media only screen and (max-width: 825px) { 
     .map-container{
         position: relative;  
         width: 100vw;
         height: 100vh;
         margin: 0; 
         padding: 0;  
     }

     .map-container img { 
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .slides button {
        display: block;
    }

    .slider img { 
        height: 85vh;
    }

    .modal .more {
        display: block;
        margin: 0 auto; 
        position: absolute;
        right: 5px; 
        bottom: 5px; 
    }

    .carousel-container {
        display: none;
        position: relative; 
        top: -100px;
        height: 100px;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.5); 
        margin: auto; 
    }

    .marker {
        min-width: 50px;
    }

    .marker p { 
        font-size: 10px;
        visibility: visible; 
        margin: 0; 
    }

    .marker i {
        font-size: 15px !important;
    }

    /* Locatons */
    #cabanas {
        top: 34%;
    }

    #reception {
        top: 17%;
    }
     
  }

  /* For screens that are in landscape */

  @media only screen and (orientation: landscape) {
    .rotate-device {
      display: none;
      z-index: 0;
    }

    .carousel-container {
        display: block;  
    }
  }