body, html {
    position: relative;
    height: 100%;
    margin: 0;
  }
 
area {
    border: solid green 3px;
}
.map-container {
    height:100vh;
    width: 100%;
    margin: 0;
}

.map-container img {
    height: 100%;
    width: 100%;
}

.button {
position: fixed;
top: 50%;
left: 50%;
background: #428bca;
padding: 1em 2em;
color: #fff;
border: 0;
border-radius: 5px;
cursor: pointer;
}

.button:hover {
background: #3876ac;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100vh;
width: 100%;
overflow: hidden;
background-color: rgba(0, 0, 0, 0.5);
}

.modal-content { 
margin: 1% auto; 
width: 75%;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
animation-name: modalopen;
animation-duration: 1s;
}

.slider img {
    display: block; 
    padding-bottom: 10px;
    width: 100%;
    height: 80vh;
}

.glider img {
    display: block;
    width: 100%;
    height: 100%;
}

.glider-slide{
    border: #000 1px solid;
    margin: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.glider-slide:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
   
.close { 
color: #ccc;
float: right;
font-size: 30px;
color: #fff;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

@keyframes modalopen {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}