body, html {
    position: relative;
    height: 100%;
    margin: 0;
  }

  .map-container{
      position: absolute;
      left: 65%;
  }
  .map-hide {
    display: none;
  }

  .wrapper { 
      position: fixed; 
      left: 5%;
      bottom: 0; 
      margin: 0; 
      width: 90%;
  }

  
 